<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.facebook"
        version   = "2.3.0">
    <name>App Facebook</name>

    <description>
        Test
    </description>

    <preference name="phonegap-version" value="2.7.0" />
    
    <gap:plugin name="FacebookConnect">
   <param name="APP_ID" value="225584254229671" />
 </gap:plugin>
</widget>